*,
*::before,
*::after{
box-sizing: border-box;
}

html{
    color-scheme: dark ;
}

body{
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

.kegi{
    flex: 1;
}

.konten{
    display: flex;
}

.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.judul{
        color: #6d0d82;
        font-size: 48px;
        font-family: 'Arial', sans-serif;
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #9b7c17,
                     0 0 30px #714907,
                     0 0 40px #c86d13,
                     0 0 55px #42c072,
                     0 0 75px #c7ca23;
    text-align: center;
}

.site-section{
    font-size: 2.25rem;
}

section{
    padding-block: 5rem;
}

.diagonal{
    --skew-angle: -5deg;
    --background: linear-gradient(45deg, #d0dadc, #78b132, #046f0b);
    position: relative;
    color: black;
    isolation: isolate;
}

.diagonal::after{
    content: '';
    background-image: var(--background);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(var(--skew-angle));
}

.spikes{
    position: relative;
    isolation: isolate;
    color: black;
    --skew-angle: 5deg;
    --background: linear-gradient(50deg, #fdc830, #f37345);
}


.spikes::after{
    content: '';
    background-image: var(--background);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(var(--skew-angle));
}

.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#bdbaba,#a80916);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #d8d109;
    transform: rotateX(90deg) translateZ(100px) ;
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgb(23, 91, 123);
    transform: translateZ(-280px);   
    filter: blur(20px);
    box-shadow: rgba(97, 6, 128, 0.2),
    0 0 200px rgba(90, 204, 204, 0.4),
    0 0 300px rgba(100, 105, 199, 0.6),
    0 0 400px rgba(34, 55, 123, 0.8),
    0 0 500px rgb(6, 61, 113);

}